{% extends 'base/base_template.html' %}

{% block title %} Relatórios {% endblock %}

{% block container %}
    <div class="row">
        <div class="col-sm-5">
            <h3>Relatório consolidado  <a class="btn btn-xs btn-success pull-right" href="/gerar-relatorio">Download</a></h3>
            <p>Planilha de eventos do último mês, consolidada por associados de seu CR.</p>
{#            <a class="btn btn-sm btn-default pull-right" href="/gerar-relatorio">Download</a>#}
        </div>
    </div>
{#    <div class="row">#}
{#        <div class="col-sm-5">#}
{#            <h3>Relatório detalhado  <a class="btn btn-xs btn-default pull-right" href="/gerar-relatorio">Download</a></h3>#}
{#            <p>Planilha de eventos do último mês de seu CR.</p>#}
{#            <a class="btn btn-sm btn-default pull-right" href="/gerar-relatorio">Download</a>#}
{#        </div>#}
{#    </div>#}

{% endblock %}